<!DOCTYPE html>
<html>
<head>
  <title>Zpages</title>
  <%= stylesheet_link_tag    "zpages/application", :media => "all" %>
  <%= javascript_include_tag "zpages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
