<!DOCTYPE html>
<html>
<head>
  <title>Semistatic</title>
  <%= stylesheet_link_tag    "semistatic/application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
